<div class=" forgot-password-container bg-black d-flex align-items-center justify-content-start gap-5 flex-column">
    <div class="header d-flex align-items-center flex-column">
        <h2>Forgot Your Password?
        </h2>
        <p> Enter the email address you use for your account and we’ll send you an email link to reset your pasword.</p>
    </div>
    <form class="d-flex align-items-center flex-column gap-4" [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
        <div>
      <input
        type="email"
        placeholder="Enter your email"
        formControlName="email"
        class="form-control"
        [ngClass]="{
            'input-invalid': forgotForm.get('email')?.invalid && showErrors
          }"/>
        <div *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched" class="error">
            Email is required.
          </div>
          <div *ngIf="forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched" class="error">
            Enter a valid email.
          </div>
      </div>
  
      <button type="submit">Resset Password</button>
      <a class="text-primary mt-4" [routerLink]="['/auth']" [queryParams]="{ mode: 'login' }">Log in</a>
      <p class="message">{{ message }}</p>
    </form>
  </div>
  
  
  
  