/* password-reset */
.forgot-password-container{
    height: 88vh;
}

.header h2{
    font-family: "Noto Serif",serif;
    font-size: 35px;
    font-weight: bold;
    color: #c8c6c0;
    margin-top: 80px !important;
}

.header p{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #c8c6c0;
    width: 70%;
    text-align: center;
    margin-top: 30px !important;
}

form input{
width: 500px;
background: none;
 border: none;
 border-bottom: 1px solid #ccc;
 border-radius: 0;
 box-shadow: none;
 color: #ffff;
}
::placeholder{
    color: #878787;
    font-family: sans-serif;
    font-weight: 400;
}

form button{
width: 200px;
height: 48px;
margin-top: 0px !important;
background-color:#001a51;
border: none;
color: rgb(199, 200, 197);
font-family: sans-serif;
font-weight: bold;
border-radius: 2px;
}

form button:hover{
    filter: brightness(94%);
    transition: 0.1s;
 }

 form a{
    text-decoration: none;
    font-weight: bold;
  }
  form a:hover{
    text-decoration: underline;
  }
  .input-invalid {
    border-bottom: 1px solid red !important;
  }
  .error{
    color: red;
    text-align: start;
    font-size: 14px;
    font-weight: 200px;
    font-family: sans-serif;
  }