/* cartItems */
.product-detail{
  height: 100px;
}

.product-detail h5{
  color: #ffff;
  font-weight: 200;
  font-family: sans-serif;
  width: 50%;
}

.quantity-control{
  width: 150px;
  height: 60px;
  color: #ffff;
  border: 1.5px solid rgb(48, 46, 46);
  border-radius: 1px;
  filter: brightness(2);
}

.quantity-control button{
  border: none;
}

.delete-btn:hover{
  text-decoration: underline;
}

