<div class="team-detail-container">
  <div *ngIf="team" class="team-header d-flex align-items-center flex-column justify-content-center">
    <p>Advertisement
    </p>
    <div class="d-flex align-items-center gap-1 mt-4">
      <img [src]="team.logoUrl" class="img-fluid"/>
      <h2>{{ team.teamName }}</h2>
    </div>
  </div>
    <div class="nav nav-tabs d-flex align-items-center justify-content-center">
      <button (click)="setTab('home')" [class.active]="activeTab ==='home'" >Home</button>
      <button (click)="setTab('roster')" [class.active]="activeTab ==='roster'" >Roster</button>
      <button (click)="setTab('results')" [class.active]="activeTab ==='results'" >Results</button>
      <button (click)="setTab('news')" [class.active]="activeTab ==='news'" >News</button>
      <button (click)="setTab('shop')" [class.active]="activeTab ==='shop'" >Shop</button>
    </div>
 <div class="tab-content">
  <!-- home-tab -->
 <div *ngIf="activeTab === 'home'" class="d-flex align-items-center justify-content-center">
  <article>
    <!-- Big News Card -->
    <div class="row gx-3 mb-3">
      <div class="col-12">
        <div class="big-news-card d-flex align-items-center"
        [routerLink]="['/news-detail-page', home[0]?.id]"
        [queryParams]="{ quaryId: team.id }">
        
     <!-- Conditional Video or Image -->
     <div *ngIf="home[0].videoUrl; else bigImage" class="video-container">
       <iframe
         [src]="getEmbedUrl(home[0].videoUrl) | safe"     
         frameborder="0"
         allowfullscreen
         style="pointer-events: none;">
       </iframe>
       <!-- <div class="custom-play-button" (click)="playVideo()"> ▶ </div> -->
     </div>
     <ng-template #bigImage>
       <img [src]="home[0]?.imageUrl" alt="Featured News" class="big-news-img" />
     </ng-template>          <!-- <img [src]="home[0]?.imageUrl" alt="Featured News" class="big-news-img"> -->
          <div class="d-flex flex-column align-items-center gap-4">
            <h2 class="mt-3 text-center">{{ home[0]?.title }}</h2>
            <p class="datatime text-center">{{ home[0]?.publishedDate | date }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Small News Cards -->
    <div class="row gx-3">
      <div
        class="col-md-6 mb-3"
        *ngFor="let item of home.slice(1)"
        [routerLink]="['/news-detail-page', item.id]"
        [queryParams]="{ quaryId: team.id }">

        
        <div class="small-news-card d-flex align-items-center">
            <!-- Conditional Video or Image -->
            <div *ngIf="item.videoUrl; else showImage" class="video-container">
              <iframe 
                [src]="getEmbedUrl(item.videoUrl) | safe"     
                frameborder="0"
                allowfullscreen>
              
              </iframe>
            </div>
            <ng-template #showImage>
              <img [src]="item.imageUrl" alt="News Image" class="small-news-img" />
            </ng-template>
          <!-- <img [src]="item.imageUrl" alt="Small News" class="small-news-img"> -->
          <div class="ms-3">
            <h2 class="mb-1">{{ item.title }}</h2>
            <p class="datatime text-center">{{ item.publishedDate | date }}</p>
          </div>
        </div>
      </div>
    </div> 
  </article>
 </div>
 <!-- roster-tab -->
 <div *ngIf="activeTab === 'roster'" class="roster-table-container d-flex align-items-center justify-content-center flex-column">
  <div  class="roster-wrapper">
  <h2> {{team.teamName}}  Roster 2024</h2>  
  <table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <!-- <th scope="col"></th> -->
        <th class="text-start" scope="col">Player</th>
        <th scope="col">Position</th>
        <th scope="col">Age</th>
        <th scope="col">Height (cm)</th>
        <th scope="col">Weight (kg)</th>
        <th scope="col">Country</th>
      </tr>
    </thead>
    <tbody class="bg-danger">
      <tr *ngFor="let players of player">
        <td>
          <div class="d-flex align-items-center gap-4">
            <img [src]="players.photoUrl" />
            <span>{{ players.name }}</span>
          </div>
        </td>
        <td>{{ players.position }}</td>
        <td>{{ players.age }}</td>
        <td>{{ players.height }}</td>
        <td>{{ players.weight }}</td>
        <td>{{ players.country }}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>

<!-- result tab -->
<div *ngIf="activeTab === 'results'" class="results-container d-flex flex-column align-items-center justify-content-center">
  
  <!-- Upcoming Matches Section -->
  <div class="results-box">
    <h3 class="mt-4 mb-4 text-white">Upcoming Matches</h3>

    <div *ngIf="upcomingMatches.length > 0; else noUpcoming">
      <div *ngFor="let match of upcomingMatches">
        <p class="match-datetime mb-2 text-white">  {{ match.matchDate | date: 'EEEE, dd MMMM yyyy' }}
        </p>

        <div class="match-card card mb-4">
          <div class="d-flex align-items-center justify-content-center gap-4 flex-wrap">
            
            <!-- Home Team -->
            <div class="d-flex align-items-center gap-2">
              <img [src]="match.homeTeamLogo" alt="Home Team Logo" class="team-logo" />
              <h5 class="text-white mb-0">{{ match.homeTeamName }}</h5>
              <p class="score text-white mb-0" *ngIf="match.homeScore != null">{{ match.homeScore }}</p>

            </div>

            <!-- Match Info -->
            <div class="text-center text-white">
              <ng-container *ngIf="!match.winner && !match.homeScore && !match.awayScore">
                Upcoming
              </ng-container>
            </div>

            <!-- Away Team -->
            <div class="d-flex align-items-center gap-2">
              <p class="score text-white mb-0" *ngIf="match.awayScore != null">{{ match.awayScore }}</p>
              <img [src]="match.awayTeamLogo" alt="Away Team Logo" class="team-logo" />
              <h5 class="text-white mb-0">{{ match.awayTeamName }}</h5>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-template #noUpcoming>
      <p class="text-white">No upcoming matches available.</p>
    </ng-template>
  </div>

  <!-- Past Matches Section -->
  <div class="results-box mt-4">
    <h3 class="mt-4 mb-4 text-white">Past Matches</h3>

    <div *ngIf="pastMatches.length > 0; else noPast">
      <div *ngFor="let match of pastMatches">
        <p class="match-datetime mb-2 text-white">  {{ match.matchDate | date: 'EEEE, dd MMMM yyyy' }}
        </p>

        <div class="match-card card mb-4">
          <div class="d-flex align-items-center justify-content-center gap-4 flex-wrap">
            
            <!-- Home Team -->
            <div class="d-flex align-items-center gap-2">
              <img [src]="match.homeTeamLogo" alt="Home Team Logo" class="team-logo" />
              <h5 class="text-white mb-0">{{ match.homeTeamName }}</h5>
              <p class="score text-white mb-0" *ngIf="match.homeScore != null">{{ match.homeScore }}</p>
            </div>

            <!-- Match Info -->
            <div class="text-center text-white">
              <!-- Team Won -->
              <ng-container *ngIf="match.winner">
                <div>{{ match.winner }} won</div>
                <div>
                  <span>{{ match.homeScore }} – {{ match.awayScore }}</span>
                </div>
              </ng-container>
            
              <!-- Match was a Draw -->
              <ng-container *ngIf="!match.winner && match.homeScore != null && match.awayScore != null">
                <div>Match Drawn</div>
                <div>{{ match.homeScore }} – {{ match.awayScore }}</div>
              </ng-container>
            
              <!-- Match not updated yet -->
              <ng-container *ngIf="match.homeScore == null && match.awayScore == null">
                <div class="text-secondary">Match ended. Awaiting update...</div>
              </ng-container>
            </div>
            

            <!-- Away Team -->
            <div class="d-flex align-items-center gap-2">
              <p class="score text-white mb-0" *ngIf="match.awayScore != null">{{ match.awayScore }}</p>
              <img [src]="match.awayTeamLogo" alt="Away Team Logo" class="team-logo" />
              <h5 class="text-white mb-0">{{ match.awayTeamName }}</h5>
            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-template #noPast>
      <p class="text-white">No past matches available.</p>
    </ng-template>
  </div>

</div>


  <!-- news-tab -->
<div *ngIf="activeTab === 'news'" class="news-tab-wrapper">
  <h3> Read the latest news
  </h3>
  <div class="row">
    <div *ngFor="let item of news" class="col-md-6 mb-3 d-flex align-items-center justify-content-center ">
      <div class="news-card card d-flex flex-row align-items-center" [routerLink]="['/news-detail-page', item.id]" [queryParams]="{ quaryId: team.id }">

        <!-- Left side: Video or Image -->
        <div class="media-container">
          <div *ngIf="item.videoUrl; else showImage" class="video-container">
            <iframe
            [src]="getEmbedUrl(item.videoUrl) | safe"     
            frameborder="0"
            allowfullscreen
          >
          </iframe>
        </div>
        <ng-template #showImage>
          <div *ngIf="item.imageUrl">
            <img [src]="item.imageUrl" alt="News Image" class="news-image" />
          </div>
        </ng-template>
        </div>

        <!-- Right side: Content -->
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title mb-2">{{ item.title }}</h5>      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- shop-tab -->
<div *ngIf="activeTab ==='shop'" class="shop-tab-wrapper d-flex justify-content-center align-items-center">
  <div>
    <h2>Shop</h2>
  <div class="shop-grid-container">
  <div [routerLink]="['/product-detail-page', item.id]" *ngFor="let item of product" class="shop-card card bg-dark">
    <img class="card-img-top" [src]="item.imageUrl" alt="Card image cap">
    <div class="card-body d-flex flex-column align-items-start justify-content-center gap-3 ps-3">
      <h5 class="card-title text-light h6">{{item.name}}</h5>
      <p class="card-text text-white fw-bold">${{item.price}}</p>  
    </div>
      <div class="mt-auto mb-4 d-flex align-self-center">
        <button>Shop now</button>
      </div>
  </div>
</div>
</div>



</div>




