.background-slider{
    height: 88vh;
    position: relative;
    
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-info{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 3em;
}

.header-info p{
    font-weight: Ginto Nord,sans-serif;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-weight: bolder; 
     color: rgb(77, 163, 174);
  
}
.header-info h6{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    text-align: start;
     color: #fefefe;
     font-weight: Ginto Nord,sans-serif;
       font-size: 50px;
     font-weight: bolder; 
}
