<!-- Navbar Container -->

<div class="navbar-container">
  <nav class="navbar d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-around gap-5">
      <!-- Left: Brand -->
      <a class="navbar-brand text-white fw-bold" href="#">MyStore</a>

      <!-- Center: Categories -->
      <div class="categories-wrapper d-flex justify-content-center gap-2">
        <!-- Loop through categories; each has its own wrapper -->
        <div class="category-wrapper" 
             *ngFor="let cat of categories"
             (mouseenter)="onCategoryHover(cat)"
             (mouseleave)="onCategoryLeave()">
          <button class="btn category-btn  bg-transparent border-0">
            {{ cat.name }}
            <span> &#x2335;</span>
          </button>

          <!-- Dropdown appears below this category if its subcategories have loaded -->
          <div class="dropdown" 
               *ngIf="subCategories.length > 0 && selectedCategoryName === cat.name">
            <!-- <h3 class="mb-3">{{ selectedCategoryName }}</h3> -->
            <div class="dropdown-content">
              <div class="dropdown-item text-center d-flex align-items-center gap-2" 
              *ngFor="let sub of subCategories"  [routerLink]="['/subcategory-detail-page', sub.id]"              
              >
                <img [src]="sub.imageUrl" alt="{{ sub.name }}" class="img-fluid mb-2" />
                <h5>{{ sub.name }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right: Auth -->
      <div class="auth-buttons d-flex gap-2">
        <button class="btn btn-outline-light">Login</button>
        <button class="btn btn-light text-dark">Register</button>
      </div>
    </div>
  </nav>
</div>





