
.container {
  max-width: none !important;
}


.navbar{
  background-color:#001a51;
  height: 12vh;
  
}
.category-buttons button:hover {
 color: #ffff;
 font-weight: 400;
 font-family: sans-serif;
 filter: brightness(5);
}

.dropdown-item img{
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 2px;
}
.dropdown-item h5{
  font-size: 12px;
  color: #f3f3f3;
}

.dropdown-item:hover{
  cursor: pointer;
  filter: brightness(85%);
}
/* .dropdown-item h5:hover{
  color:#b38a52 !important;
} */




.dropdown-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 50px;
  row-gap: 10px;
  padding: 25px;
}

/* Wrapper for each category; set to relative so that the dropdown is positioned relative to it */
.category-wrapper {
  position: relative;
  display: inline-block;
}

/* Style for the category button */
.category-btn {
  font-weight: 500;
  color: rgb(199, 200, 197);

  font-family:"Ginto Nord", sans-serif;
  display: flex;
  align-items: center;
  gap: 0.2em;
  cursor: pointer !important; 
}
.category-btn:hover{
  color: #d7d6d5;
  filter: brightness(2);
  transition: 0.5s;
}
.category-btn span{
 font-size: 12px;

}

/* Dropdown container positioned absolutely relative to its category wrapper */
.dropdown {
  position: absolute;
  top: 100%;           /* directly below the button */
  left: 50%;           /* start at the center of the button */
  transform: translateX(-50%); /* center the dropdown relative to the button */
  z-index: 2;
  background-color:#001a51;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease;
  /* width: 250px; */

}



