<!-- Navbar Container -->
<div class="navbar-container">
  <nav class="navbar d-flex align-items-center justify-content-center">
    <div class="container d-flex align-items-center justify-content-around gap-5 w-100">
      <!-- Left: Brand -->
      <a class="navbar-brand text-white fw-bold" [routerLink]="['/']">
        <img src="https://images.supersport.com/media/eoagvak1/ss-logo-2024.png?width=96&quality=95&format=webp" alt="">
        <p>SuperSport </p>
      </a>
      
      <!-- Center: Categories -->
      <div class="categories-wrapper d-flex justify-content-center gap-3">
        <div class="category-wrapper"
             *ngFor="let cat of categories"
             (mouseenter)="onCategoryHover(cat)"
             (mouseleave)="onCategoryLeave()">
             <button [routerLink]="cat.name === 'Videos' ? '/video' : null" 
             class="btn category-btn bg-transparent border-0">
              {{ cat.name }}
          </button>
          <div class="dropdown"

               *ngIf="subCategories.length > 0 && selectedCategoryName === cat.name">
            <div class="dropdown-content">
              <div class="dropdown-item text-center d-flex align-items-center gap-2"
                   *ngFor="let sub of subCategories" 
                   [routerLink]="['/subcategory-detail-page', sub.id]">
                <img [src]="sub.imageUrl" alt="{{ sub.name }}" class="img-fluid mb-2" />
                <h5>{{ sub.name }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Right side: Cart + Auth -->
      <div class=" d-flex align-items-center gap-5">
        <!-- Cart Icon (always takes space, visibility toggled) -->
        <div [ngClass]="{ 'invisible': !(router.url.includes('/team-detail-page') || router.url === '/cart' || router.url.includes('/product-detail-page')) }">
          <a routerLink="/cart" class="nav-link position-relative text-white">
            <i class="cart-icon fa-solid x-l fa-cart-shopping"></i>
            <span class="cart-number position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{cartItemCount}}
            </span>
          </a>
        </div>

        <!-- Auth Buttons -->
        <div class="auth-buttons d-flex gap-2">
          <button [routerLink]="['/auth']" [queryParams]="{mode:'login'}" class="login btn btn-outline-light">Login</button>
          <button [routerLink]="['/auth']" [queryParams]="{mode:'register'}" class="register btn btn-outline-light">Create account</button>
        </div>
      </div>
    </div>
  </nav>
</div>






