*{
    margin: 0 !important;
     /* padding: 0 !important;  */
    box-sizing: border-box;
}

html {
  scroll-behavior:auto !important;
}


/* Container for slick dots */
.slick-dots {

    position: absolute; /* Position the dots */
    bottom: 10px; /* Distance from the bottom */
    width: 100%; /* Full width of the carousel */
    text-align: center; /* Center align the dots */
    z-index: 1; /* Ensure dots are above other content */
  }
  
  /* Default dot style */
  .slick-dots li button:before {
    font-family: 'slick'; /* Ensure the correct font is used */
    font-size: 12px; /* Adjust size of the dots */
    color:#6d0221;
    filter: brightness(2); /* Default dot color */
    opacity: 0.5; /* Default dot opacity */
    content: '•'; /* Dot character */
  }
  
  
  .slick-dots .slick-active button:before {
    color: #686363;
    filter: brightness(2); 
    opacity: 1;
  }

/* arrows */
  .slick-prev,
.slick-next {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  
}


.slick-prev {
  left: -30px; 
}

.slick-next {
right: -30px;
}

.slick-prev::before,
.slick-next::before {
  display: inline-block;
  font-size: 40px;
  color:#ffff;
  font-weight: bold;
}

.slick-prev::before {
  content: "\276C"; /* Left arrow */
}

.slick-next::before {
  content: "\276D"; /* Right arrow */
}




  