/* product-detail */
.product-detail-container{
    height: 88vh;
    padding: 20px;
}

.product-image-container{
 width: 45%;
}
.product-detail-container img{
    width: 500px;
    height: 400px;
}

.product-info{
    width: 55%;
}


@media (max-width: 992px) {
    .product-detail-container {
      flex-direction: column;
      height: auto;
      padding: 15px;
    }
  
    .product-image-container,
    .product-info {
      width: 100%;
    }
  
    .product-detail-container img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
  }
  
  @media (max-width: 576px) {
    .product-detail-container {
      padding: 10px;
    }
  
    .product-detail-container img {
      max-width: 100%;
      height: auto;
    }
  }
  