<div class="reset-container bg-black d-flex align-items-center justify-content-start flex-column gap-0">
    <h2>Reset Password</h2>
    <p>Please enter and confirm your new password below.</p>

    <form class="d-flex align-items-center flex-column" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div>
        <input type="password" formControlName="newPassword" placeholder="NewPassword"
        [ngClass]="{
            'input-invalid': resetPasswordForm.get('newPassword')?.invalid && showErrors
          }"/>
        <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('required') && resetPasswordForm.get('newPassword')?.touched" class="error">
            Password is required.
          </div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength') && resetPasswordForm.get('newPassword')?.touched" class="error bg-danger">
            Password must be at least 6 characters.
          </div>
          </div>
      <div>
        <input type="password" formControlName="confirmPassword" placeholder="ConfirmPassword" 
        [ngClass]="{
            'input-invalid': resetPasswordForm.get('newPassword')?.invalid && showErrors
          }"/>
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required') && resetPasswordForm.get('confirmPassword')?.touched" class="error">
            Password is required.
          </div>
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('minlength') && resetPasswordForm.get('confirmPassword')?.touched" class="error bg-danger">
            Password must be at least 6 characters.
          </div>
        </div>
  
      <button type="submit">Reset Password</button>
    </form>
    <div *ngIf="message" [ngClass]="{ 'success': isSuccess, 'error': !isSuccess }">
      {{ message }}
    </div>
  </div>
  
